<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>Mark Up</title>

  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- font wesome stylesheet -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/css/bootstrap.css') }}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <!-- <link href="css/style.css" rel="stylesheet" /> -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/css/style.css') }}">
  <!-- responsive style -->
  <!-- <link href="css/responsive.css" rel="stylesheet" /> -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/css/responsive.css') }}">

</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container pt-3">
          <a class="navbar-brand mr-5" href="index.html">
            <img src="images/logo.png" alt="" />
            <span> Mark Up </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/about"> About </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/service"> Methodology </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/contact">Feedback</a>
                </li>
              </ul>
              <form class="form-inline">
                <button class="btn my-2 my-sm-0 nav_search-btn" type="submit"></button>
              </form>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>About Us</h2>
            </div>
            <p>
              Object size measurement is a common task in many fields, such as
              manufacturing, robotics, and computer vision. Accurately
              measuring the size of an object is important for quality
              control, automation, and analysis. Traditional methods of object
              size measurement involve the use of rulers or calipers, which
              can be time-consuming and prone to human error. In recent years,
              computer vision has emerged as a powerful tool for object size
              measurement. <br /><br />OpenCV is a popular open-source
              computer vision library that provides various functions and
              tools for image processing, object detection, and tracking.
              Aruco Marker is a kind of marker that is widely used in computer
              vision and augmented reality. It contains a unique code that can
              be easily detected and recognized by the computer vision
              algorithm. In this project, we will use OpenCV and Aruco Marker
              to measure the size of an object accurately and efficiently.
            </p>
            <a href="/upload"> Get Started </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="{{ url_for('static',filename='styles/images/about-img.png') }}" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end about section -->

  <!-- info section -->

  <section class="info_section layout_padding">
    <div class="footer_contact">
      <div class="heading_container">
        <h2>Contact Us</h2>
      </div>
      <div class="box">
        <a href="" class="img-box">
          <img src="{{ url_for('static',filename='styles/images/location.png') }}" alt="" class="img-1" />
          <img src="{{ url_for('static',filename='styles/images/location-o.png') }}" alt="" class="img-2" />
        </a>
        <a href="" class="img-box">
          <img src="{{ url_for('static',filename='styles/images/call.png') }}" alt="" class="img-1" />
          <img src="{{ url_for('static',filename='styles/images/call-o.png') }}" alt="" class="img-2" />
        </a>
        <a href="" class="img-box">
          <img src="{{ url_for('static',filename='styles/images/envelope.png') }}" alt="" class="img-1" />
          <img src="{{ url_for('static',filename='styles/images/envelope-o.png') }}" alt="" class="img-2" />
        </a>
      </div>
    </div>
  </section>

  <!-- end info section -->

  <!-- footer section -->
  <section class="container-fluid footer_section">
    <p>
      Copyright &copy; 2023 All Rights Reserved
      <a href="https://html.design/"></a>
    </p>
  </section>
  <!-- footer section -->

  <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.js"></script>
</body>

</html>